<footer>
  <div class="container web">
    <div class="column">
      <h1>ABOUT US</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde omnis
        quibusdam consequuntur voluptate
      </p>

      <div class="social">
        <span><i class="fa-brands fa-facebook-f"></i></span>
        <span><i class="fa-brands fa-whatsapp"></i></span>
        <span><i class="fa-brands fa-instagram"></i></span>
      </div>
    </div>

    <div class="column">
      <h1>INFORMATION</h1>
      <a>About</a>
      <a>Delivery infomation</a>
      <a>Privacy policy</a>
      <a>Sales</a>
      <a>Term & conditions</a>
      <a>EMI Payment</a>
    </div>

    <div class="column">
      <h1>ACCOUNT</h1>

      <a>My Account</a>
      <a>My Orders</a>
      <a>Returns</a>
      <a>Shipping</a>
      <a>Wishlist</a>
      <a>Account Details</a>
    </div>

    <div class="column">
      <h1>STORE</h1>

      <a>Affiliate</a>
      <a>Discounts</a>
      <a>Privacy policy</a>
      <a>Sale</a>
      <a>Term & conditions</a>
    </div>

    <div class="column">
      <h1>CONTACT US</h1>

      <p>If you have any query, please contact us</p>
      <p>
        <a href="mailto:prodstore143@gmail.com" style="color: #e73c17"
          >prodstore143@gmail.com</a
        >
      </p>

      <div class="icons">
        <div class="icon">
          <a href="https://goo.gl/maps/M81HgUQjoQZZeuMr9" target="_blank"
            ><i class="fa-solid fa-location-dot"></i> Callifornia, USA</a
          >
        </div>

        <div class="icon">
          <a href="tel:+12012987481">
            <i class="fa-solid fa-phone"></i> +12012987481
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="phone">
    <div class="row">
      <p>ABOUT US</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="row">
      <p>INFORMATION</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="row">
      <p>ACCOUNT</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="row">
      <p>STORE</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="row">
      <p>CONTACT US</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div class="underline"></div>

  <p class="copy-right">&copy; Copyright.2022.All Right Reserved</p>
</footer>
