<div class="container">
  <div class="links">
    <a routerLink="/home" [routerLinkActive]="['is-active']">HOME</a>
    <a routerLink="/about" [routerLinkActive]="['is-active']">ABOUT</a>
    <a routerLink="/products" [routerLinkActive]="['is-active']">PRODUCTS</a>
    <a routerLink="/pages" [routerLinkActive]="['is-active']">PAGES</a>
    <a routerLink="/contact" [routerLinkActive]="['is-active']">CONTACT</a>
  </div>
  <div class="contact">
    <div class="icon"><i class="fa-solid fa-headphones-simple"></i></div>
    <div class="text">
      <p>CONTACT US 24/7</p>
      <p>+12012987481</p>
    </div>
  </div>
</div>
